@import '../../../styles/variables.scss';
.card__game {
  margin-top: 5rem;
  height: 100%;
  width: 100%;
  max-width: 30vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 1rem;
    h5 {
      font-size: 2rem;
      font-weight: $text-bold;
    }
    p {
      font-size: 1.5rem;
      font-weight: $text-medium;
    }
  }

  &__coin {
    transform: translateX(50%, -50%);
    padding: 1rem 1.5rem;
    display: block;
    margin: 3rem 0;
    border-radius: 100%;
    width: 7rem;
    font-size: 6rem;
    font-weight: $text-bold;
    width: fit-content;
    background-color: $peach;
    animation: pulse 1s ease-in-out infinite;

    &__icon {
    }
    &__loading {
      animation: spin 2s linear infinite;
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  &__play {
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
}

.modal__coin {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h5 {
      font-size: 2.5rem;
      font-weight: $text-bold;
    }

    .win {
      color: $success-secondary;
    }
    .lose {
      color: $danger;
    }
    p {
      font-size: 1.2rem;
      font-weight: $text-medium;
    }
  }

  &__button {
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
}
