@import '../../styles/variables';
.game__page {
  margin: 5rem 0;
  background-color: $primary-white;
  height: 100vh;
  padding: 1rem 0;
  @media screen and (max-width: 768px) {
    margin-top: 0;
    margin-bottom: 5rem;
  }
}
