@import '../../../styles/variables.scss';
.navbar__wrapper {
  z-index: 1;
  width: 100%;
  padding: 1.125rem 0;
  top: 0;
  margin: auto;
  position: fixed;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__brand {
      font-weight: $text-bold;
      color: $primary;
      font-size: 1.5rem;
    }

    &__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      gap: 1rem;
      padding: 0;
      list-style: none;

      &__list__item {
        &__isActive {
          text-decoration: underline;
          font-size: 1rem;
          font-weight: $text-medium;
        }

        &__link {
          color: $primary-dark;
          text-decoration: none;
          font-size: 1rem;
          font-weight: $text-medium;
        }

        &:last-child {
          margin-left: 1rem;
        }
      }
    }
  }

  .list__item {
    position: relative;
    &__menu {
      position: absolute;
    }
  }
}
