@import '../../../styles/variables.scss';
.sidebar {
  height: 100vh;
  background-color: $secondary-light;
  width: 100%;
  max-width: 15vw;
  padding: 2rem;
  position: fixed;

  &__brand {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    p {
      font-size: 1.5rem;
      font-weight: $text-bold;
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }
}
