@import '../../../styles/variables.scss';
.sidebar {
  height: 100vh;
  background-color: $secondary-light;
  width: 100%;
  max-width: 15vw;
  padding: 2rem;
  position: fixed;

  &__brand {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    p {
      font-size: 1.5rem;
      font-weight: $text-bold;
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    &__brand {
      p {
        font-size: 1rem;
      }
      margin-bottom: 0;
    }

    &__menu {
      display: flex;
    }
  }
}
