@import '../../../styles/variables.scss';

.input {
  background: $primary-white;
  border-radius: 10rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;

  .select {
    border: none !important;
    width: 100%;
    background: transparent;
    padding: 0.2rem 0.5rem;

    &:focus {
      outline: none;
    }

    option {
      background: #f9f9f9;
      font-size: rem;
    }

    &::placeholder {
      font-size: 0.6rem;
    }
  }
}
