$primary-dark: #403b58;
$primary: #7f669d;
$primary-light: #ba94d1;
$primary-lighter: #d9d5eb;
$primary-white: #d9d5eb57;

$peach: #ff9494;
$peach-dark: #d46e6e;
$peach-light: #ffd1d1;

$secondary: #d885a3;
$secondary-dark: #a0667c;
$secondary-light: #ffeaf4;

$beige: #fdceb9;

$tertiary: #7897ab;
$tertiary-dark: #607888;
$tertiary-light: #c8d4e0;

$gray: #f5f5f5;

$success-primary: #cfff8d;
$success-secondary: #a8e890;

$danger: #c84361;

$text-bold: 600;
$text-medium: 500;
$text-regular: 400;
$text-light: 300;

$box-shadow: 0 0 10px rgba(130, 90, 143, 0.2);

$secondary-text: #6d6d6d;
