$primary-dark:#403b58;
$primary:#7F669D;
$primary-light:#BA94D1;
$primary-lighter:#d9d5eb;

$peach:#FF9494;
$peach-dark:#d46e6e;
$peach-light:#FFD1D1;

$secondary:#D885A3;
$secondary-dark:#a0667c;
$secondary-light:#ffeaf4;

$beige: #FDCEB9;

$tertiary:#7897AB;
$tertiary-dark:#607888;
$tertiary-light:#c8d4e0;

$gray : #F5F5F5;

$success-primary: #CFFF8D;
$success-secondary:#A8E890;

$danger:#C84361;

$text-bold: 600;
$text-medium: 500;
$text-regular: 400;
$text-light: 300;

$box-shadow: 0 0 10px rgba(130, 90, 143, 0.2);