$primary:#CE7777;
$primary-regular:#FFCACA;
$primary-light:#FFECEF;
$primary-lighter:#f7eaeafd;


$secondary:#372948;
$secondary-dark:#251B37;

$tertiary:#2B3A55;
$quaternary:#525B76;
$quinary:#201E50;

$success-primary: #CFFF8D;
$success-secondary:#A8E890;

$danger:#850E35;

$text-bold: 600;
$text-medium: 500;
$text-regular: 400;
$text-light: 300;