.carousel {
  width: 100%;
  @media screen and (max-width: 768px) {
    margin-top: 1rem;
    width: 90vw;
  }
  &__photo {
    max-height: 45vh;
    object-fit: cover;
    background-position: center top;
    border-radius: 1rem;

    img {
      border-radius: 1rem;
    }
  }
}
