@import '../../../styles/variables';

.input {
  border: none;
  border-radius: 2rem;
  background-color: $gray;
  min-height: 3rem;
  padding: 0.6rem 1.3rem;
  font-size: 0.8rem;
  width: 100%;

  &:focus {
    outline: none;
    border: 1px solid $primary;
  }

  &__disabled {
    background-color: #e9e9e9;
    color: #4f4f4f;
  }

  &__error {
    border: 1px solid $danger;
  }
}
