.payment {
  margin-top: 5rem;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    text-align: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}
