@import '../../../styles//variables.scss';
.input__pickup {
  background-color: $primary-white;
  padding: 0.8rem 1rem;
  h5 {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  margin: 1rem 0;
  &__wrapper {
    display: flex;
  }
  &__price {
    margin-top: 1rem;
  }

  &__radio {
    display: flex;
    align-items: center;
    margin-right: 10px;
    background-color: $primary-dark;
    color: white;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: $primary-light;
      color: white;
    }

    &__active {
      background-color: $primary-light;
      color: white;
    }
  }
}
