@import '../../../styles/variables.scss';
.menu__item {
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: $peach;
  padding: 1.2rem;
  border-radius: 3rem;
  &:hover {
    background-color: $peach-light;
  }

  a {
    display: flex;
    align-items: center;
    color: $primary-dark;
    margin-left: 1rem;
    font-weight: $text-bold;
    text-decoration: none;
    gap: 1rem;

    @media screen {
      margin: 0;
    }
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    a {
      margin-left: 0.5rem;
      font-size: 0.8rem;
    }
  }
}
