@import '../../../../styles/variables';
.card__payment__detail {
  padding: 0;
  display: flex;
  flex-direction: column;
  h6 {
    font-size: 1rem;
    font-weight: $text-bold;
    color: $primary;
  }
  &__item {
    border-bottom: 1px solid $primary;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 1rem;

    p,
    li {
      font-size: 0.8rem;
      font-weight: $text-regular;
      color: $primary-dark;
    }
  }
}
