@import '../../../styles/variables.scss';
.button {
  color: white;
  border: none;
  padding: 1rem 1.25rem;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.default{
  border-radius: 0;
}

.rounded{
  border-radius: 0.3px;
}

.pill{
  border-radius: 50px;
}

.primary {
  background-color: $primary;

  &:hover {
    background-color: #0f3f5a;
  }

  &__outline{
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;

    &:hover {
      background-color: $primary;
      color: white;
    }
  }
}


.secondary{
  background-color: $secondary;

  &:hover {
    background-color: #0f3f5a;
  }

  &__outline{
    background-color: transparent;
    border: 1px solid $secondary;
    color: $secondary;

    &:hover {
      background-color: $secondary;
      color: white;
    }
  }
}