@import '../../../styles//variables.scss';

.card__reservation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  text-decoration: none;
  color: $primary-dark;

  h6 {
    font-size: 1.2rem;
    font-weight: $text-bold;
    margin-bottom: 0.5rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.6rem;
    min-height: 3rem;
    h5 {
      font-size: 0.9rem;
      font-weight: $text-bold;
      min-height: 1rem;
    }
    p {
      font-size: 0.8rem;
      color: $secondary-text;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      li {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        font-size: 0.8rem;
        color: $secondary-text;
        svg {
          font-size: 1rem;
        }
      }
    }
    &__price {
      display: grid;
      grid-template-columns: 6fr 1fr;
      align-items: center;
      font-size: 1rem;
      p {
        color: $primary-dark;
        font-weight: $text-medium;
      }
    }
  }
}

.card {
  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
}
