@import '../../../styles/variables.scss';

.auth__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary;
  height: 50vh;

  @media screen and (min-width: 768px) {
    height: 100vh;
    padding: 0 3rem;
  }
}
