@import '../../../styles/variables';
.search__navbar {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: $primary-white;

  @media screen and (max-width: 768px) {
    height: auto;
    flex-direction: column;
    padding: 1rem;
  }
}
