@import '../../../styles/variables.scss';
.uploader {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    color: white;
    padding: 0.8rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $primary-light;
    }
  }
}
